
.vs/bsnck/v15/.suo
.vs/config/applicationhost.config
.vs/slnx.sqlite
.vs/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/config/applicationhost.config
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/config/applicationhost.config
