<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="abuxnet" providerName="System.Data.SqlClient" connectionString="SERVER=d131wq.forpsi.com; DATABASE=abuxnet; UID=abuxnet; PWD=fSwwCbDd;" />
    <add name="abuxnet.local" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Web\data\abuxnet.mdf;Integrated Security=True;" />
    <add name="abuxnet.local.old" providerName="System.Data.SqlClient" connectionString="SERVER=.\SQLEXPRESS; DATABASE=abuxnet; UID=sa; PWD=SAheslo.;" />
	</connectionStrings>
	<appSettings>
		<add key="Page.TimeOut" value="40" />
		<add key="Sekce.EditorNeni" value="Vtipy,Prani" />
		<add key="Users.WarningNick" value="hoven,tanicka" />
		<add key="Mail.Method" value="SMTP" /> <!-- SMTP,PickupDirectory -->
		<add key="Mail.Method.local" value="PickupDirectory" />
		<add key="Mail.SmtpServer" value="localhost" />
		<add key="Mail.SmtpServer.local" value="localhost" />
		<add key="Mail.PickupDirectory" value="C:\InetPub\MailRoot\Pickup" />
		<add key="Mail.PickupDirectory.local" value="C:\InetPub\MailRoot\Pickup" />
	</appSettings>
	<system.web>
		<trace pageOutput="true" />
		<pages validateRequest="false">
			<namespaces>
				<add namespace="Microsoft.VisualBasic" />
				<add namespace="System.Data" />
				<add namespace="System.Drawing" />
			</namespaces>
		</pages>
		<compilation debug="true">
   <compilers>
    <compiler language="vb" extension=".VB" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"
     compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls" />
   </compilers>
  </compilation>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="cs-CZ" />
		<customErrors mode="RemoteOnly" defaultRedirect="/Err.aspx">
			<!--  On / RemoteOnly / Off -->
			<error statusCode="404" redirect="/Err.aspx?code=404" />
			<error statusCode="500" redirect="/Err.aspx?code=500" />
		</customErrors>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", "Passport" and "None"
          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.    -->
		<authentication mode="Windows" />
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.    -->
		<authorization>
			<allow users="*" />
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING - "trace.axd" page from your web application root.     -->
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<!--	<sessionState mode="StateServer"
			stateConnectionString="tcpip=localhost:42424"
			cookieless="false"
			timeout="20"/>	-->
		<xhtmlConformance mode="Legacy" />

	</system.web>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
