BODY {FONT-SIZE: 13px;}
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0px;}
P, FORM, DIV, IMG {margin: 0px;}
UL {margin: 0px 0px 0px 0px;
	padding: 0px;}
LI {margin: 0px 0px 0px 16px;
	padding: 0px 0px 0px 0px;}
IMG {border: 0px;}
a:link, a:active, a:visited {color: #962C10; text-decoration: none;}
a:hover {color: #BB3311; text-decoration: underline;}
a.pamatovatklik:visited {color: #AAAAAA; text-decoration: none;}

body {
	background-color: #FFFFFF;
	font-family: Verdana, 'Arial CE', Arial;
	color: #000000;
	margin: 0px;
	TEXT-ALIGN: center;
	scrollbar-3d-light-color: #FDC282;
	scrollbar-arrow-color: #EAEAEA;
	scrollbar-base-color: #000000;
	scrollbar-dark-shadow-color: #FDC282;
	scrollbar-face-color: #444444;
	scrollbar-highlight-color: #E8D0B5;
	scrollbar-shadow-color: #FDC282;}

.box-menu {
	background-color: #F2EDE6;
	border: 1px solid #777777;
	margin-bottom: 6px;}
.box-menu h2 {
	font-weight: normal;
	padding-left: 2px;}
.box-menu h3 {
	font-weight: normal;
	font-size: 1em;
	padding-left: 2px;}
.box-menu h4 {
	font-size: 90%;
	font-weight: normal;
	padding-left: 2px;}
.box-menu .title {
	border-bottom: 1px solid #888888;
	padding-left: 1px;
	background-color: #D9CBB8;}
.box-menu .underline {
	border-bottom: 1px solid #D9CBB8;}
.box2 {
	background-color: #FFFFFF;
	border: 1px solid #777777;
	margin-bottom: 6px;}
.box2 P {
	padding-left: 1px;}
.box2 .title {
	padding: 1px;
	font-size: 85%;
	background-color: #E5DCCF;}
.box2 .nadpis {
	padding: 1px;
	margin-bottom: 1px;
	font-weight: bold;}
.box2 H3 {
	padding: 1px;
	background-color: #E5DCCF;}

.hidden {
	DISPLAY: none}
#page {
	margin: 0px auto 0px auto;
	width: 770px;
	text-align: left;}
#page-top {
	height: 60px;
	margin-bottom: 4px;}
#page-middle {
	margin-bottom: 3px;}
#page-bottom {
	margin-bottom: 3px;
	clear: both;}
#page-left {
	width: 130px;
	float: left;
	margin-right: 3px;
	overflow: hidden;}
#page-main {
	float: left;
 	width: 474px;
	overflow: hidden;}
#page-right {
	width: 160px;
	float: right;
	overflow: hidden;}

.font12 {font-size: 1.2em;}
.font11 {font-size: 1.1em;}
.font10 {font-size: 1em;}
.font09 {font-size: 0.9em;}
.font08 {font-size: 0.8em;}
.font07 {font-size: 0.7em;}
FORM .text-nadpis {font-weight: bold; font-size: 1em;}
FORM .text-nadpis-koment {font-weight: normal; font-size: 0.9em;}
FORM .text-komentar {font-weight: normal; font-size: 0.85em;}
FORM .povinne {color: #FF0000; font-weight: bolder;}
FORM TEXTAREA.textarea {width: 470px; border: 1px solid #888888;}
FORM INPUT.input-text {border: 1px solid #888888; padding: 1px;}
FORM .submit {color: #FFFFFF; font-family: verdana; FONT-SIZE: 12px; FONT-WEIGHT: bold; background-color: #2266bb; border-color: #2266bb;}
.text-chyba {color: #FF0000; font-size: 1.1em; font-weight: bold; margin-bottom: 3px;}

FORM INPUT.input-text-povinne {border: 10px solid #888888; padding: 1px;}

#BoxSortBy .selected {
	text-decoration: underline;
	color: #962C10;}
div.ListPagesBox {
	margin-top: 7px;
	border-top: 1px dotted #777777; border-bottom: 1px dotted #777777;
	padding-left: 2px; padding-top: 1px; padding-bottom: 1px;}

.table2 {
	border: 1px solid #777777;}
.Table2Title { background-color: #E5DCCF;}

/* Pro více stránek */
#hPageTitle {
	background-color: #F2EDE6;
	border: 1px solid #777777;
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
	clear: both; }

/* Zrušit až přestanu používat */
#pnlFormErrors {
	background-color: #F2EDE6;
	color: #FF0000;
	padding: 2px;
	margin-bottom: 4px;
	border: solid 1px Red; }

/* Jednotlivé stránky */
#pnlAutoriSeznamMenu {text-align: center;}
